.profile-pic {
  width:100%;
  height: 90%;
}
.portfolio-pic {
  width: 80%;
  height: 75%;
}

body {
  background-color:lightgray;
}

.container {
  background-color: aliceblue;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
  
